<head>
<title>breadrock blog css</title>
<style>
	body{
	font-family: cursive; font-size: 14px; color: #121481;
	}

	table{
	font-family: cursive
	}

	td{
	text-align: center;
	vertical-align: top;
	}
	tr{
		text-align: left
	}
	h1{
	text-align: left;
	}
	
	#pone{
	text-align: left;
	}

	#pupdate{
		text-align: left;
		font-size: 10;
	}
</style>
</head>
