<head>
<title>breadrock blog css</title>
<style>
	body{
	font-family: cursive; font-size: 14px; color: #121481;
	}

	table{
	font-family: cursive
	}

	td{
	text-align: left;
	vertical-align: top;
  	margin-right: 100px;
	border: 1px red;
	}
	
	h1{
	text-align: left;
	}
	
	#pone{
	text-align: left;
	}

</style>
</head>
