<!DOCTYPE html>
<html>
<body>
<title>breadrock blog css</title>
<style>

	body{
	font-family: cursive;
	}

	table{
	font-family: cursive;
	}

	td{
	text-align: left;
	vertical-align: top;
	}

	.stampbox{
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #074173;
	}

	.text{
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #074173;
	}
	
	h1{
	text-align: left;
	padding-left: 10px;
	padding-top: 10px;
	}

	.navi{
	text-align: center;
	font-weight: bold;
	}
	
	.navigation{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	}

	.navipoints{
	width: 15px;
	padding-right: 10px;
	}
	
	.pbox{
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	}
	

</style>
</body>
</html>
